@font-face {
  font-family: optimus;
  src: url(../fonts/OptimusPrinceps.ttf);
}

@font-face {
  font-family: optimus;
  font-weight: 900;
  src: url(../fonts/OptimusPrincepsSemiBold.ttf);
}

@font-face {
  font-family: gothica;
  src: url(../fonts/gothickella.ttf);
}

@font-face {
  font-family: gothica-short;
  src: url(../fonts/gothickella-short.ttf);
}

