.homepage-slide__wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.homepage-slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -200%;
}

.homepage-slide img {
//  width: auto !important;
}

.homepage-slide__links {
  position: absolute;
  top: calc(100vh - 200px);
  text-align: center;
  z-index: 300;
  width: 100%;

  a#gallery-link {
    text-align: center;
    font-size: 48px;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    line-height: 96px;
    //font-family: gothica-short;
    font-family: optimus;
    text-shadow: 3px 3px #000000;
  }

  a#bio-link {
    text-align: center;
    font-size: 24px;
    display: block;
    text-decoration: none;
    font-family: optimus;
    text-shadow: 2px 2px #000000;
  }
}

#homepage-slide__1 {
  left: 0;
}
