h1 {
  color: $white;
  font-size: 64px;
  font-family: optimus;
  letter-spacing: 5px;
}

h2 {
  font-family: optimus;
  font-weight: 900;
  text-align: center;
  font-size: 36px;
  color: $white;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid $grey;
  letter-spacing: 6px;
}

.logged-in {
  h2 {
    padding-top: 60px;
  }
}

@media screen and (min-width: $small) {
  h2 {
    font-size: 50px;
    letter-spacing: 10px;
    padding-top: 80px;
  }

  .logged-in {
    h2 {
      padding-top: 112px;
    }
  }
}

h3 {
  font-family: optimus;
  font-weight: 900;
  font-size: 30px;
  color: $white;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  letter-spacing: 10px;
}

h4 {
  font-family: optimus;
  font-weight: 900;
  font-size: 24px;
  color: $white;
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

p {
  font-family: verdana;
  color: $white;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

a {
  color: $white;

  &:hover {
    color: $gold;
  }
}

.archive {
  text-align: center;
  font-size: 42px;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  font-family: gothica-short;
  text-shadow: 3px 3px #000000;
  margin-top: 24px;
}

@media screen and (min-width: $small) {
  .archive {
    font-size: 64px;
  }
}
