.videos__grid {
  img {
    width: 100%;
    height: auto;
    border: 1px solid $white;
    cursor: pointer;
  }
}

.video__modal {
  background-color: $black;
  position: fixed;

  top: 15%;
  left: 50%;
  z-index: 500;

  width: 80%;
  margin-left: -40%;

  border: 1px solid $white;

  &--wrapper {
    display: none;
    position: fixed;
    z-index: 400;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .modal-close {
    position: absolute;
    right: 14px;
    top: 14px;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
    color: $white;
    text-decoration: none;

    &:hover {
      color: $gold;
    }
  }
}
