* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  background-image: url(../images/bg1.png);
}

.page-wrapper {
  width: 100vw;
  width: -webkit-fill-available;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.8)), to(black));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 50%, black 100%);
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  max-width: 1200px;
  min-width: 90%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .content {
    min-width: 700px;
  }
}
.panel {
  min-height: 100vh;
  padding-bottom: 48px;
}

.internal-panel {
  min-height: calc(100vh - 300px);
}

.banner-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80px;
  z-index: 200;
}

.logged-in .banner-wrapper {
  top: 112px;
}

@media screen and (max-width: 769px) {
  .logged-in .banner-wrapper {
    top: 125px;
  }

  .banner-wrapper {
    top: 125px;
  }
}
.banner {
  max-width: 90vw;
}

@media screen and (min-height: 1000px) {
  .banner {
    max-width: 80vw;
  }
}
@media screen and (min-width: 769px) {
  .banner {
    max-width: 50vw;
  }
}
@media screen and (min-width: 900px) {
  .banner {
    max-width: 80vw;
    max-height: 25vh;
  }
}
@media screen and (min-width: 1300px) and (max-height: 1100px) {
  .banner {
    max-width: 50vw;
  }
}
.audio__grid iframe {
  margin-top: 12px;
  margin-bottom: 48px;
}

.biography .headshot {
  border: 1px solid #EEE;
  max-width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 769px) {
  .biography .headshot {
    max-width: 40%;
    float: left;
    margin-right: 24px;
  }
}
.contact-wrapper {
  background-color: #000;
}

@font-face {
  font-family: optimus;
  src: url(../fonts/OptimusPrinceps.ttf);
}
@font-face {
  font-family: optimus;
  font-weight: 900;
  src: url(../fonts/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: gothica;
  src: url(../fonts/gothickella.ttf);
}
@font-face {
  font-family: gothica-short;
  src: url(../fonts/gothickella-short.ttf);
}
.grid-2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid-2col .grid__item {
  width: 100%;
}
@media screen and (min-width: 769px) {
  .grid-2col .grid__item {
    width: 45%;
  }
}

.grid-3col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid-3col .grid__item {
  width: 31%;
}

.page-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  height: 24px;
}
@media screen and (min-width: 769px) {
  .page-menu {
    display: block;
  }
}
.page-menu__logo-link {
  font-family: gothica-short;
  text-decoration: none;
  font-size: 64px;
  line-height: 16px;
}
.page-menu__logo-link:hover {
  color: #ebd24a;
}
.page-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
}
.page-menu__item {
  text-align: right;
}
.page-menu__item a {
  font-size: 18px;
  font-family: optimus;
  text-decoration: none;
  letter-spacing: 2px;
}

.home-menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 769px) {
  .home-menu {
    display: block;
  }
}
.home-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home-menu__item {
  text-align: center;
}
.home-menu__item a {
  font-size: 20px;
  font-family: optimus;
  text-decoration: none;
  letter-spacing: 2px;
}
@media screen and (min-width: 900px) {
  .home-menu__item a {
    font-size: 24px;
  }
}

.logged-in .home-menu, .logged-in .page-menu {
  top: 32px;
}

.home-mobile-menu {
  position: fixed;
  z-index: 800;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 64px;
  display: none;
}
.home-mobile-menu__item {
  text-align: center;
}
.home-mobile-menu__item a {
  font-size: 36px;
  line-height: 12vh;
  font-family: optimus;
  text-decoration: none;
  letter-spacing: 2px;
}

.home-mobile-menu-link {
  display: block;
  z-index: 900;
  position: fixed;
  top: 0;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-right: 8px;
  width: calc(100% - 8px);
  background-color: rgba(0, 0, 0, 0.6);
}
.home-mobile-menu-link a {
  float: right;
}
.home-mobile-menu-link a.mobile-menu-close-link {
  display: none;
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  font-size: 36px;
}

@media screen and (min-width: 769px) {
  .home-mobile-menu-link {
    display: none;
  }
}
.performances {
  text-align: center;
}
.performances .grid__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #666;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 769px) {
  .performances .grid__item {
    width: 75%;
  }
}
.performances__date {
  color: #999;
  margin-bottom: 0;
  font-family: verdana;
}
.performances__venue {
  color: #EEE;
  font-family: optimus;
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.performances__opera {
  color: #EEE;
  font-style: italic;
  font-size: 26px;
  margin-bottom: 6px;
}
.performances__city {
  color: #999;
}
.performances__link {
  border: 1px solid #999;
  background-color: #000;
  display: inline-block;
  padding: 6px 12px;
}
.performances__link:hover {
  border: 1px solid #ebd24a;
}
.performances__link:hover a {
  color: #ebd24a;
}
.performances__link a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  font-family: optimus;
}

.performances-internal {
  text-align: center;
}
.performances-internal .grid__item {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #666;
}
.performances-internal .grid__item:last-child {
  border-bottom: 0;
}
.performances-internal__date {
  color: #999;
  margin-bottom: 0;
  font-family: verdana;
}
.performances-internal__venue {
  color: #EEE;
  font-family: optimus;
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.performances-internal__opera {
  color: #EEE;
  font-style: italic;
  font-size: 26px;
  margin-bottom: 6px;
}
.performances-internal__city {
  color: #999;
}
.performances-internal__link {
  border: 1px solid #999;
  background-color: #000;
  display: inline-block;
  padding: 6px 12px;
}
.performances-internal__link:hover {
  border: 1px solid #ebd24a;
}
.performances-internal__link:hover a {
  color: #ebd24a;
}
.performances-internal__link a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  font-family: optimus;
}

.photo-gallery .grid__item {
  margin-bottom: 10px;
}
.photo-gallery .grid__item .img-wrapper {
  height: 225px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #666;
}

.homepage-slide__wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.homepage-slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: -200%;
}

.homepage-slide__links {
  position: absolute;
  top: calc(100vh - 200px);
  text-align: center;
  z-index: 300;
  width: 100%;
}
.homepage-slide__links a#gallery-link {
  text-align: center;
  font-size: 48px;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  line-height: 96px;
  font-family: optimus;
  text-shadow: 3px 3px #000000;
}
.homepage-slide__links a#bio-link {
  text-align: center;
  font-size: 24px;
  display: block;
  text-decoration: none;
  font-family: optimus;
  text-shadow: 2px 2px #000000;
}

#homepage-slide__1 {
  left: 0;
}

h1 {
  color: #EEE;
  font-size: 64px;
  font-family: optimus;
  letter-spacing: 5px;
}

h2 {
  font-family: optimus;
  font-weight: 900;
  text-align: center;
  font-size: 36px;
  color: #EEE;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  letter-spacing: 6px;
}

.logged-in h2 {
  padding-top: 60px;
}

@media screen and (min-width: 769px) {
  h2 {
    font-size: 50px;
    letter-spacing: 10px;
    padding-top: 80px;
  }

  .logged-in h2 {
    padding-top: 112px;
  }
}
h3 {
  font-family: optimus;
  font-weight: 900;
  font-size: 30px;
  color: #EEE;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  letter-spacing: 10px;
}

h4 {
  font-family: optimus;
  font-weight: 900;
  font-size: 24px;
  color: #EEE;
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

p {
  font-family: verdana;
  color: #EEE;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: justify;
}

a {
  color: #EEE;
}
a:hover {
  color: #ebd24a;
}

.archive {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  font-family: optimus;
  text-shadow: 3px 3px #000000;
  margin-top: 24px;
  font-weight: 900;
}

@media screen and (min-width: 769px) {
  .archive {
    font-size: 20px;
  }
}
.videos__grid img {
  width: 100%;
  height: auto;
  border: 1px solid #EEE;
  cursor: pointer;
}

.video__modal {
  background-color: #000;
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  z-index: 500;
  border: 1px solid #EEE;
}
.video__modal--wrapper {
  display: none;
  position: fixed;
  z-index: 400;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 24px;
  padding-bottom: 24px;
}
.video__modal .modal-close {
  position: absolute;
  right: 14px;
  top: 14px;
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  color: #EEE;
  text-decoration: none;
}
.video__modal .modal-close:hover {
  color: #ebd24a;
}
